<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    {% block style %}
        <link rel="stylesheet" type="text/css" href="{{ root }}assets/css/main.css">
    {% endblock %}

</head>
<body>
<div class="container">
<a href="{{ root }}">
    <h1 class="h1 mt">Covid-19 API</h1>
</a>

<nav>
    <ul class="nav nav-pills flex-column">
        <li class="nav-item">
            <a class="nav-link {{ home ? 'active' }}" href="{{ root }}cruds/searchCountry1.php">Home</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="{{ root }}cruds/searchCountry1.php">Search Country</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ root }}cruds/showCountries1.php">Countries</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="{{ root }}cruds/showHistory.php">History</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="{{ root }}cruds/showStats.php">Statistics</a>
        </li>
    </ul>
</nav>

    {% block content %}
    {% endblock %}
</div>
</body>
</html>