{% extends "core.html.twig" %}

{% block content %}
	<a href="{{ root }}">Terug naar home</a>

	<h1>Covid-19 API</h1>

	<ul>
		<li><a href="{{ root }}cruds/showHistory.php">History</a></li>
		<li><a href="{{ root }}cruds/searchCountry1.php">Search Country</a></li>
		<li><a href="{{ root }}cruds/showCountries.php">Countries</a></li>
		<li><a href="{{ root }}cruds/showStats.php">Statistics</a></li>
	</ul>
{% endblock %}