{% extends "core.html.twig" %}

{% block content %}
	<a href="{{ root }}">
		<h1 class="h1 mt">Covid-19 API</h1>
	</a>

	<nav>
		<ul class="nav nav-pills flex-column">
			<li class="nav-item">
				<a class="nav-link {{ home ? 'active' }}" href="{{ root }}cruds/searchCountry1.php">Home</a>
			</li>

			<li class="nav-item">
				<a class="nav-link" href="{{ root }}cruds/searchCountry1.php">Search Country</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{ root }}cruds/showCountries1.php">Countries</a>
			</li>
			<li class="nav-item">
				<a class="nav-link disabled" href="{{ root }}cruds/showHistory.php">History</a>
			</li>
			<li class="nav-item">
				<a class="nav-link disabled" href="{{ root }}cruds/showStats.php">Statistics</a>
			</li>
		</ul>
	</nav>

{% endblock %}
